main,
header {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding-right: 120px;
  padding-left: 120px;
}

.pink {
  color: #ff42a5;
}

.btn-primary {
  padding: 15px 20px;
  border-radius: 35px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1rem;
  border: none;
}

.hidden {
  display: none;
}

/* Header section */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-logo img {
  height: 35px;
}

.nav-logo h3 {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-buttons ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav-buttons ul li {
  list-style: none;
}
.nav-buttons li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 12px;
  font-weight: 500;
}

.nav-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 170px;
  height: 45px;
  padding: 12px 20px;
  border: none;
}

/* banner section */

.banner {
  display: flex;
}

.banner-description {
  background-image: url("../Group14.png");
  background-repeat: no-repeat;
  width: 80%;
  background-size: contain;
}

.banner-description h3 {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}

.banner-description .goat {
  font-size: 4.5rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description p {
  list-style: none;
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}

.r-btn {
  padding: 15px 20px;
  border-radius: 35px;
  background: #4ec5f7;
  color: #fff;
  font-size: 1rem;
  border: none;
}
.banner-img img {
  height: 400px;
}

/* main section */

.online-games {
  text-align: center;
  padding-top: 20px;
}

.online-games h3 {
  color: #0b0223;
  font-size: 2.25rem;
  font-weight: 700;
}

.online-games .funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-games p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
}

.online-games-img {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.games-img {
  width: 250px;
}

.games-img img {
  width: 250px;
  align-items: center;
  border-radius: 8px;
}
.games-img p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}

/* .online-games-img .games-img img:hover {
  border: 4px solid rgba(255, 0, 0, 0.411);
  background-color: rgba(255, 0, 0, 0.432);
} */

/* play instantly section */

.play-instantly-container {
  display: flex;
  margin-top: 70px;
  gap: 150px;
}

.play-instantly-text {
  text-align: right;
  width: 500px;
  padding-left: 140px;
  padding-top: 120px;
}

.play-instantly-text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0b0223;
}

.instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instantly-text p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
}

.play-instantly-img img {
  width: 100%;
  border-radius: 8px;
}

.over-img {
  width: 50%;
  position: relative;
  bottom: 195px;
  right: 90px;
  border-radius: 8px;
}

.icon {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  background: linear-gradient(90deg, rgba(255, 66, 164, 0) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.icon-container {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 5px;
  border-radius: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FFF;
  
}

.icon-img {
  border-radius: 50%;
  padding: 5px;
}

.icon-container p {
  color: #0b0223;
  font-size: .75rem;
  font-weight: 600;
  width: 120px;
}


.icon-container:hover{
  border: 2px solid pink;
}

.icon-container p:hover {
  color: pink;
}
/* footer section */

footer {
  font-family: "Work Sans", sans-serif;
  background: #0b0223;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

.footer-logo img {
  height: 35px;
}

.footer-text,
.footer-small-text {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.footer-connect {
  gap: 20px;
  padding-bottom: 10px;
}

.footer-text {
  font-size: 0.85rem;
  font-weight: 600;
  gap: 35px;
}

.footer-small-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.65rem;
  font-weight: 500;
  gap: 25px;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.57rem;
  font-weight: 500;
}

/* Media queary */

@media screen and (max-width: 576px) {
  body {
    padding: 0;
  }
  .nav-container {
    flex-direction: column;
    height: 300px;
  }
  .nav-buttons ul {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
  }

  .banner-description {
    text-align: center;
    width: 100%;
  }

  .online-games-img {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .online-games-img p {
    font-size: 0.75rem;
  }
}
